$bgTitle: #f7efc5;
$policeCarac: "Comic Sans MS";
$bgText: #fbc682e6;
$bgCountdown: #FFF393;
$bgCountdown2: #DBA970;

.titre-jouer {
    background-color: #f7efc5;
    border-radius: 20px;
}

body {
    font-family: $policeCarac;
}

.parti-jeu {
    background-color: $bgText;
    border-radius: 15px;
}

// #countdown{
// 	color: #fff;
// 	display: inline-block;
// 	font-weight: 100;
// 	text-align: center;
// 	font-size: 30px;
// }

// #countdown > div{
// 	padding: 10px;
// 	border-radius: 3px;
// 	background: $bgCountdown;
// 	display: inline-block;
// }

// #countdown div > span{
// 	padding: 15px;
// 	border-radius: 3px;
// 	background: $bgCountdown2;
// 	display: inline-block;
// }

// .smalltext{
// 	padding-top: 5px;
//     font-size: 16px;
//     color: black;
//     font-weight: bold;
// }

.countdown {
	margin: 0 auto;
	max-width: 350px;
	background: #9d5311;;
	text-align: center;
  }
  .countdown .header {
	color: #fdda97;
	text-align: center;
	font-weight: normal;
	margin: 5px 0 10px 0;
  }
  .countdown .square {
	display: inline-block;
	padding: 10px;
	margin: 5px;
  }
  .countdown .digits {
	font-size: 24px;
	background: #ffc16b;
	color: #000;
	padding: 20px 10px;
	border-radius: 5px;
  }
  .countdown .text {
	margin-top: 10px;
	color: rgb(255, 255, 255);
  }
