$bgTitle: #f7efc5;
$policeCarac: "Comic Sans MS";
$bgText: #fbc682e6;

.titre-scores {
    background-color: #f7efc5;
    border-radius: 20px;
}

body {
    font-family: $policeCarac;
}

.text-scores {
    background-color: $bgText;
    border-radius: 15px;
}
