.test {
    width : 100%;
    height:35px;
}
.titre {
    text-align: center;
}

.containerF {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 20em 20em ;
    grid-row-gap: 10px;
    gap : 7px;
    width : 80%;
    margin : 0 auto;
}

.fleur {
    height : 19em;
    width: auto;
    border : 1px solid black;
    padding-left: 10px;
    padding-top: 5px;
    white-space: normal;
    position: relative;
    background-color: #fbc682e6;
    border-radius: 15px;
}

p {
    margin-top:0;
}

label {
    margin-bottom : 0;
}

.logo {
    position: absolute;
    bottom:0;
}

a {
    color : inherit;
}

/* SEARCH BAR */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 50%;
  position: relative;
  display: flex;
  margin:0 auto;
  padding-bottom:10px;
}

.searchTerm {
  width: 50%;
  border: 3px solid yellow;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 2px 0 0 2px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: yellow;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid yellow;
  background: orange;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


