{% set root = base_url() %}
{% extends 'Template.html.twig' %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" href="{{ root }}/public/style/css/Jouer.css">
{% endblock %}

{% block body %}
{{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <div class="col-sm-8 mx-auto my-3">
        <h1 class="titre-jouer text-center py-2">Que la partie commence !</h1>
    </div>

    <div class="col-sm-8 col-10 mx-auto my-3 parti-jeu py-3 px-4">
        <p class="text-center">Finis le parcours avant la fin du temps imparti <i class="far fa-laugh-wink"></i></p>
        {# <div id="countdown" class="col-12">
            <div class="mt-2">
                <span class="hours"></span>
                <div class="smalltext">Heure</div>
            </div>
            <div class="mt-2">
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div class="mt-2">
                <span class="seconds"></span>
                <div class="smalltext">Secondes</div>
            </div>
        </div> #}

        <div class="countdown">
            <h1 class="header" id="titreDebut">Fin du jeu dans</h1>
            <h1 class="header" id="titreFin" style="display: none">Fin du jeu !!!!!</h1>

            <div class="square">
                <div class="digits" id="cd-min">00</div>
                <div class="text">MINUTES</div>
            </div>
            <div class="square">
                <div class="digits" id="cd-sec">00</div>
                <div class="text">SECONDS</div>
            </div>
        </div>
        <button onclick="scan()" id="scanOn" class="my-2">Scanner</button>
        <video id="preview"></video>
    </div>



<script>
{# 
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);

  return {
    'total': t,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse(new Date()) + 1* 60 * 60 * 1000);
initializeClock('countdown', deadline);


 #}
function scan(){

    showCam();
let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
scanner.addListener('scan', function (content) {
    hideCam();
    alert(content);

});
Instascan.Camera.getCameras().then(function (cameras) {
    if (cameras.length > 0) {
        scanner.start(cameras[0]);
    } else {
        console.error('No cameras found.');
    }
}).catch(function (e) {
    console.error(e);
});
}

function hideCam() {
    document.getElementById("preview").style.display="none";
    document.getElementById("scanOn").style.display="block";
}

function showCam() {
    document.getElementById("preview").style.display="block";
    document.getElementById("scanOn").style.display="none";
}


var counter = {};
window.addEventListener("load", function () {
  // COUNTDOWN IN SECONDS
  // EXAMPLE - 5 MINS = 5 X 60 = 300 SECS
  counter.end = 10;

  // Get the containers
  counter.min = document.getElementById("cd-min");
  counter.sec = document.getElementById("cd-sec");

  // Start if not past end date 
  if (counter.end > 0) {
    counter.ticker = setInterval(function(){
      // Stop if passed end time
      counter.end--;
      if (counter.end <= 0) { 
        clearInterval(counter.ticker); 
        counter.end = 0;
        document.getElementById("titreFin").style.display="block";
        document.getElementById("titreDebut").style.display="none";
      }

      // Calculate remaining time
      var secs = counter.end;
      var mins  = Math.floor(secs / 60); // 1 min = 60 secs
      secs -= mins * 60;

      // Update HTML
      counter.min.innerHTML = mins;
      counter.sec.innerHTML = secs;
    }, 1000);
  }
});


</script>





{% endblock %}