{% set root = base_url() %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ root }}/public/lib/jquery/jquery-3.4.1.min.js"></script>
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{{ root }}/public/style/css/Header.css">

    <title>Accueil</title>

    {% block head %}
    
    {% endblock %}
</head>

<body>
    {% block header %}
        <header class="header">
            <a href="" class="logo">Je suis une abeille</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#jeu">Règle du jeu</a></li>
                <li><a href="{{ path_for('fleurs')}}">Les fleurs</a></li>
                <li><a href="#parcours">Le parcours</a></li>
                <li><a href="#score">Votre score</a></li>
            </ul>
        </header>
    {% endblock %}

    <div class="bodyDiv">
        {% block body %}

        {% endblock %}
    </div>


</body>
</html>