{% extends 'Template.html.twig' %}
{% set root = base_url() %}


{% block body %}
	{{ parent() }}
	<div class="titre">
		<h1>Formulaire d'ajout de fleur</h1>
	</div>

	<div class="formulaire divForm container-fluid">
		<form action="{{ base_url() }}/addFleur" method="post" class="myForm" id="xxxx">
			<div class="form-group">
				<label for="nom">Nom :</label>
				<input class="form-control" type="texte" id="nom" name="nom">
			</div>

			<div class="form-group">
				<label for="desc">Description :</label>
				<input class="form-control" type="texte" id="desc" name="desc">
			</div>

			<div class="form-group">
				<label for="pts">Points :</label>
				<input class="form-control" type="number" id="pts" name="pts">
			</div>

			<div class="form-group">
				<label for="emplacement">Emplacement :
					<a data-toggle="modal" data-target="#exampleModal" href="">(voir la carte)</a>
				</label>
				<input class="form-control" type="number" id="emplacement" name="emplacement">
			</div>

			<button class="btn btn-primary" type="submit">Ajouter</button>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Carte du jardin</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img class="img-fluid mx-auto d-block" src="{{ root }}/public/images/plan_jardin.png">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</form>
{% endblock %}
